.confirmation_multiSelect {
    border-radius: 10px;
    width: 250px;
    height: 35px;
    background: #FFF;
    padding-left: 10px;
}


.option {
    /* padding: 10px; */
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.option:hover {
    background-color: rgba(119, 32, 225, 0.70);
    color: #fff;
}

.selected {
    background-color: rgba(119, 32, 225, 0.70);
    color: #fff !important;
}

.checked .itemLabel {
    color: #FFF;
}

.itemLabel {
    color: #000000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.selected {
    background-color: rgba(119, 32, 225, 0.70);
    color: #fff !important;
}