.react-daterange-picker__wrapper {
    background-color: white !important;
    border: 1px solid rgba(0, 0, 0, 0.30);
    height: 50px !important;
    border-radius: 11px !important;
    padding: 10px !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.70);
    font-family: Poppins;
}

.react-calendar__tile--active {
    color: #fff !important;
    background: #7720E1 !important;
}

/* .react-calendar {
    margin: 10px !important;
    border-radius: 15px !important;
} */

.react-calendar {
    /* margin-bottom: 1.875rem; */
    margin: 10px !important;
    background-color: #fff;
    transition: all .5s ease-in-out;
    /* position: relative; */
    border: 0px solid transparent;
    border-radius: 8px;
    /* box-shadow: 0px 5px 5px 0px rgba(82, 63, 105, 0.05); */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    /* height: calc(100% - 30px); */
}

.react-calendar button {
    border-radius: 25px;
    height: 50px;
    width: 50px;

    color: rgba(0, 0, 0, 0.87);
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.03333em;

}

.react-calendar__navigation button {
    color: rgba(0, 0, 0, 0.87) !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
}