.dropdown-container {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    /* gap: 12px; */
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    /* width: max-content; */
    height: 42px;
}

.confirmation_multiSelect {
    border-radius: 10px;
    width: 100%;
    height: 35px;
    background: #FFF;
}

/* .city_dropdown {
    width: 205px !important;
    height: 35px;
    border-radius: 10px !important;
    border: 1px solid rgba(17, 17, 17, 0.30);
    background: #FFF;
} */

.city_dropdown {
    margin-right: 10px;
    width: 100%;

    border: 1px solid rgba(17, 17, 17, 0.3) !important;
    border-radius: 10px !important;
    transition: border-color 0.3s ease-in-out;

    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    /* gap: 12px; */
    background: #FFF;
    height: 42px;
}

.city_dropdown:hover {
    outline: none;
    border-color: #7720E1;
    box-shadow: 0 0 5px #7720E1;
}

@media only screen and (max-width: 550px) {
    .city_dropdown {
        width: 120px !important;
    }
}










.customSelect {
    position: relative;
    width: 200px;


}




.selectHeader {

    /* cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center; */

    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    /* gap: 12px; */
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
    /* width: max-content; */
    height: 42px;

    &:hover {
        border-color: #7720E1;
        box-shadow: 0 0 5px #7720E1;
    }
}


.selectHeader.open {
    /* border-bottom: none;
    border-radius: 5px 5px 0 0; */
}

.arrow {
    border: solid #333;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

.selectLabel {
    /* width: 50%; */
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.optionsContainer {
    position: absolute;
    /* top: calc(100% + 10px); */
    /* left: 0; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
    width: 218px;
    max-height: 250px;
    /* Changed height to max-height */
    padding: 5px;
    overflow-y: auto;
    /* Changed overflow to auto for vertical scroll only */
    overflow-x: hidden;
    z-index: 99;
    /* position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.optionsContainer::-webkit-scrollbar {
    width: 0.4em;

}

.optionsContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.optionsContainer::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 25px;
}

.option {
    /* padding: 10px; */
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.option:hover {
    background-color: rgba(119, 32, 225, 0.70);
    color: #fff;
}

.selected {
    background-color: rgba(119, 32, 225, 0.70);
    color: #fff !important;
}

input[type='checkbox'] {
    margin-right: 8px;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.checked .itemLabel {
    color: #FFF;
}

.itemLabel {
    color: #000000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.itemCheckbox {
    /* width: 20px;
    height: 20px;
    border-radius: 5px;
    background: #FFF;
    border: 1px gray solid; */

    width: 24px;
    height: 23px;
    border-radius: 5px;
    background: #FFF;
    border: 1px gray solid;
}

.checked {
    /* color: #fff; */
    background-position: center;
    background-image: url('/public/checked.svg');
    /* margin: 1px; */
    /* width: 20px;
    height: 20px; */
}