.display-product-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-table{
    width: auto !important;
}

.table-responsive{
    height: 370px;
}