.api-img{
    height: 50px;
    width: 40px;
}

.api-col{
    width: 100% !important;
}

.col-order:hover{
    cursor: move ;
}

.dragging{
    opacity: 0.3;
}

.dd-list {
    height: auto;
    min-height: 300px;
}

.drag-and-drop-file{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 200px;
    width: 500px;
    border: dashed gray;
    border-radius: 15px;
    background-color: whitesmoke;
}

.drag-txt{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: gray;
}

.copy-model{
    color: green;
    font-size: 17px;
    font-weight: 500;
    margin: 10px;
}